/*============================================================================
  Form scaffolding
    - Selectors setup for you to style form elements how you want
    - Focus, error, and disabled states are set to be extended
==============================================================================*/

input,
textarea,
select {
	background: transparent;
	font-family: $font-stack-body;
	border: $rudiborder;
	line-height: $lineheightbutton;
	color: $rudiblack;
	text-transform: uppercase;
	font-size: 16px;
  border-radius: 0;
  width: 100%;
  max-width: 100%;
  text-align: center;
	padding: 0 .75em;

  &:focus {
    // You should add some focus styles
  }

  &[disabled] {
    cursor: default;
    background-color: $color-disabled;
    border-color: $color-disabled-border;
  }
}

textarea {
  min-height: 100px;
}

button, .btn {
	background: black;
	opacity: 1;
	color: white;
	padding: 0 3em;
	min-width: 210px;
	border: $rudiborder;
	line-height: $lineheightbutton;
	font-family: inherit;
	font-size: 16px;
	text-transform: uppercase;
}

/*================ Custom select style ================*/
select {
  @include prefix(appearance, none, webkit moz spec);
  background-position: right center;
  background: {
    image: url($svg-select-icon);
    repeat: no-repeat;
    position: right 10px center;
    color: transparent;
  }
	padding-left: 10px;
  padding-right: 15px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;

  /*================ Hide the svg arrow in IE9 ================*/
  .ie9 & {
    padding-right: 10px;
    background-image: none;
  }
}

select::-ms-expand {
  display: none;
}

/*================ Error styles ================*/
input,
select,
textarea {
  &.input-error {
    border-color: $color-error;
    background-color: $color-error-bg;
    color: $color-error;
  }
}
