/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}
.template-password {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	text-align: center;
	input, button {
		width: 100%;
	}
}
.template-cart {
	td { border-bottom: 0 solid black; }
	text-align: center;
	.btn {
		width: 100%;
		margin-bottom: 10px;
	}
	.btn-primary {
		background: $rudigreen;
		border-color: $rudigreen;
		color: black;
	}
	.btn-secondary {
		background: transparent;
		color: black;
		border: $rudiborder;
	}
}

.template-collection {
	#main-content {
		// padding-right: 19px;
		overflow-x: hidden;
	}
	.collection-empty {
		width: 100%;
		margin-top: 100px;
		text-align: center;
	}
}
.template-product {
	@include media-query($small) {
		.site-header {
			border-bottom: $rudiborder;
		}
	}
	#main-content {
		// padding-right: 21px;
		// padding-left: 21px;
	}
}
.template-page {
	#main-content {
		width: 50%;
	}
	.rte {
		margin: 2em 0;
	}
}
