/*================ General layout styles ================*/

html {
	padding-top: 0 !important;
	height: 100%;
	width: 100%;
	background: $rudibeige;
	margin: 0;
}

body {
	position: relative;
	height: 100%;
	width: 100%;
	left: 0;
	@include animationFromLeft(0.4s);
	font-family: $font-stack-body;
	font-size:  $fontsizebase;
	font-weight: $font-weight-bold;
	line-height: $lineheightbase;
	letter-spacing: $letterspacingbase;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	background: $rudibeige;
	cursor: default;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
@media only screen
	  and (min-device-width: 320px)
	  and (max-device-width: 568px)
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: portrait) {
		body {
			font-size: 10px;
			line-height: 14px;
		}
	}

#main-content {
	margin: 0 auto 0;
	padding: 70px 0 0;
	@include media-query($small) {
	padding: 0;
	}
}
.template-collection {
	#main-content {
		padding: 70px 0 0;
	}
}

.template-page {
	#main-content {
		padding: 70px 0 0;
	}
}

// .template-collection {
// 	#main-content {
// 		padding: 70px 0 0;
// 	}
// }

@include media-query($small) {
	.template-product #main-content {
		padding: 0px;
	}
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}
.template-password {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	text-align: center;
	input, button {
		width: 100%;
	}
}
.template-cart {
	td { border-bottom: 0 solid black; }
	text-align: center;
	.btn {
		width: 100%;
		margin-bottom: 10px;
	}
	.btn-primary {
		background: $rudigreen;
		border-color: $rudigreen;
		color: black;
	}
	.btn-secondary {
		background: transparent;
		color: black;
		border: $rudiborder;
	}
}

.template-collection {
	#main-content {
		// padding-right: 19px;
		overflow-x: hidden;
	}
	.collection-empty {
		width: 100%;
		margin-top: 100px;
		text-align: center;
	}
}
.template-product {
	@include media-query($small) {
		.site-header {
			border-bottom: $rudiborder;
		}
	}
	#main-content {
		// padding-right: 21px;
		// padding-left: 21px;
	}
}
.template-page {
	#main-content {
		width: 50%;
	}
}
.template-page .rte {
	text-transform: none;
}
@include media-query($medium-up) {
	.rte {
		margin-top: 70px;
	}
	.template-product {
		.rte {
			margin-top: 0px;
		}
	}
}
.rte p:first-of-type {
	margin-top: 0;
}

@include media-query($medium-up) {
	.template-page {
		.rte {
			margin-bottom: calc(24px + 1em);
			margin-top: 70px;
		}
	}
}

@include media-query($medium-down) {
	.template-page {
		#main-content {
			width: 60%;
		}
	}
}

@include media-query($small) {
	.template-page {
		#main-content {
			width: 100%;
			padding: 20px;
		}
		// .site-header {
		// 	border-bottom: $rudiborder;
		// }
	}

}

.cookie-notification {
	position: fixed;
	z-index: 4;
	width: 100%;
	background: $rudiblack;
	bottom: 0;
	color: $rudibeige;
	padding: 20px;
	text-align: center;
	a {
		color: inherit;
		text-decoration: underline;
	}
	.close-link {
		display: block;
		border: 1px solid $rudibeige;
		margin: 20px auto 0;
		line-height: $lineheightbutton;
		width: 215px;
		text-decoration: none;
	}
}
.page-title {
	display: none;
}
.page-header {
	display: none;
	text-align: center;
	width: calc(100% + 4px);
	background: $rudibeige;
	line-height: $lineheightbutton;
	border: $rudiborder;
	border-left: 0;
	border-right: 0;
	@include animationFromLeft(0.4s);
	z-index: 10;
	left: -2px;
	position: fixed;
	@include media-query($medium-up) {
		display: inline-block;
	}
	h1 {
		font-weight: normal;
	}
	.icon-arrow-left {
      	width: 12px;
      	height: 20px;
      	display: inline-block;
      	position: absolute;
      	padding: 6px 20px 5px 25px;
      	left: 0;
    }
    .breadcrumbs {
    	display: none;
    }
    @include media-query($medium-up) {
    	.breadcrumbs {
    		display: inline-block;
    	}
    }
}
.mobile {
	display: none;
}
@include media-query($small) {
	.mobile {
		display: inline-block;
		position: static;
		.breadcrumbs {
    		display: inline-block;
    	}
	}
}
.page-headline {
	margin-top: 60px;
	line-height: $lineheightbutton;
}

.pagination {
	text-align: center;
	line-height: $lineheightbutton;
	margin-bottom: 30px;
}
