.template-cart #main-content {
	height: 100%;
}

.cart-align-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	@include media-query($small) {
		height: calc(100% - 90px);
	}
}

.cart-wrapper {
	display: flex;
	justify-content: space-between;
    width: 100%;
	float: none;
	margin-top: 36px;
	
	.cart-content {
		flex-basis: 60%;
		border-right: $rudiborder;

		.cart-row {
			display: flex;
			justify-content: space-between;
			border-bottom: $rudiborder;

			.cart-product-item {
				flex-basis: 20%;
				max-width: 150px;
				border-right: $rudiborder;
			}
			img {
				width: 100%;
				height: 100%; 
				object-fit: contain;
				display: block;
			}
			.cart-product-info {
				flex-basis: 70%;
				padding: 2em;
				text-align: left;

				.break {
					margin-top: 3em;
					width: 100%;
				}

				input {
					max-width: 200px;
				}
			}
		.close {
			padding: 2em;
		}
	}
}

	.cart-info {
		flex-basis: 37%;
		padding-right: 3%;
		align-self: flex-end;

		.checkout-info {
			float: none;
			text-align: center;
			clear: both;
			margin: 10px 0;

			.checkbox {
				float: left;
				clear: right;
				vertical-align: middle;
				width: 5%;
			}
			.agree {
				float: left;
				width: 95%;
			}
	}
}
}

.template-cart .btn-primary {
	margin-bottom: 0px;
}

@include media-query($small) {

	.cart-wrapper {
		display: block;
		margin-top: 0;

		.cart-content {
			width: 100%;
			border-right: 0;
			border-top: $rudiborder;
			margin-top: 0;
	
			.cart-row {
				.cart-product-item {
					border-right: 0;
					display: flex;
					justify-content: center; /* align horizontal */
					align-items: center; /* align vertical */
				}
				
				.cart-product-info {
					flex-basis: 50%;
					padding-left: 2em;

					.break {
						margin-top: 2em;
					}
					input {
						max-width: 100px;
					}
				}
				
				img {
					border: $rudiborder;
					margin: 2em;
				}
			}
		}
		.cart-info {
			padding-right: 0;
			margin-top: 60px;
			margin: 2em;
		}
	}

}

