.collection-list {
	height: calc(100vh - 90px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.collection-list-item {
		text-align: center;
		margin: $lineheightbutton/2 auto;
		border: $rudiborder;
		width: 210px;
		display: block;
		&:focus {
			background: black;
			color: $rudibeige;
		}
		a {
			line-height: $lineheightbutton;
		}
	}
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
	.collection-list {
		height: calc(100vh - 205px);
	}
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	.collection-list {
		height: calc(100vh - 170px);
	}
}

@include media-query($medium-up) {
	.collection-list {
		margin: 0 auto;
		.collection-list-item {
			p {
				margin: 0;
				padding: 0;
			}
		}
	}
}
