#intro {
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	cursor: pointer;
	transition: opacity .5s linear;
	display: block;
	.intro-typo {
		z-index: 102;
		color: white;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		text-align: center;
		letter-spacing: -.08rem;
		font-family: $font-stack-header;
		font-size: 10vw;
		line-height: .79em;
		text-rendering: optimizeLegibility;
		font-feature-settings: "kern";
		-webkit-font-feature-settings: "kern";
		-moz-font-feature-settings: "kern";
		-moz-font-feature-settings: "kern=1";
		-webkit-font-smoothing: subpixel-antialiased;
	}
	.intro-overlay {
		position: absolute;
		background: black;
		width: 100%;
		height: 100%;
		display: block;
		opacity: .3;
		z-index: 101;
	}
	img {
		transition: all .5s linear;
		object-fit: cover;
		width: 100%;
		height: 100%;
		object-position: center;
	}
	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
