body.open-sidebar {
    left: $sidenavwidth;
    overflow-x: hidden;
    #sidebar {
		left: 0;
    }
    .collection-nav {
    	left: $sidenavwidth !important;
    }
    .site-header {
    	left: $sidenavwidth !important;
    }
    .page-header {
    	left: 240px !important;
    }
}
#sidebar {
	background: $rudiblack;
    border-right: $rudiborder;
	position: fixed;
	z-index: 9999;
    width: $sidenavwidth;
    height: 100%;
    left: -$sidenavwidth;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
	@include animationFromLeft(0.4s);
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
    .site-nav {
		width: 100%;
		margin-top: 20px;
		&:last-of-type {
			align-self: flex-end;
		}

		li {
			line-height: 30px;
			// border-bottom: $rudiborder;
			text-align: left;
			&:first-of-type {
			}
		}
		a {
			color: $rudibeige;
			width: 100%;
			display: block;
			line-height: $lineheightbase * 1.5;
			padding-left: 30px;
		}
		#subscribe-form {
			width: 100%;
		}
		#subscribe-box {
			display: flex;
			flex-flow: row wrap;
			padding: 10px;

			#subscribe-result {
				padding-bottom: 5px;
				margin: 0 auto;
				text-align: center;
			}

			#sidebar-result {
				width: 100%;
				text-align: center;
				padding-bottom: 5px;
			}
			#email-input {
				width: 80%;

				input {
					width: 100%;
					padding: 7px;
					line-height: 14px;
				}
			}
			#submit-button {
				width: 20%;

				input#change-border {
					width: 100%;
					margin-left: -1px;
					padding: 7px;
					line-height: 14px;
				}
			}
		}
    }
}
