<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    const mySiema = new Siema({
    duration: 150,
    loop: true,
    perPage: {
      768: 1,
      1024: 2
    },
  });

  // listen for keydown event
  document.addEventListener('keydown', (e) => {
    // if it's left arrow key
    if (e.keyCode === 37) {
      mySiema.prev()
    }
    // if it's right arrow key
    else if (e.keyCode === 39) {
      mySiema.next()
    }
  });
});
</script>

<article role="article" itemscope itemtype="http://schema.org/Article">

  {% if article.image %}
    {{ article | img_url: '1024x1024' | img_tag: article.title }}
  {% endif %}

  <header role="banner" class="page-header">
    <h1>{{ article.title }}</h1>
  </header>

  <div class="rte product-wrapper" itemprop="articleBody">
    <div class="product">
      {{ article.content }}
    </div>
  </div>

{% comment %}  {% if settings.social_sharing_blog %}
    {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
  {% endif %}
{% endcomment %}


</article>
