<div class="related-products">
  <header class="section-header">
    <h2 class="section-header-title">You might also like</h2>
  </header>
      
  <div class="product-list">
  {% assign number_of_related_products_to_show = 1 %} 
      {% assign current_product = product %} {% assign current_product_tags = product.tags %} 
      {% assign found_first_match = false %} {% assign found_second_match = false %} 
      {% assign first_related_product = true %} 
      {% paginate collections.all.products by 1000 %} 
      {% for product in collections.all.products %} 
      {% unless product.handle == current_product.handle %}
      {% for tag in product.tags limit:4 %} 
      {% if current_product_tags contains tag %} 
      {% if found_first_match == false %} 
      {% assign found_first_match = true %} 
      {% assign first_match = tag %} 
      {% else %} 
      {% assign found_second_match = true %}
      {% assign second_match = tag %}
      {% endif %}
      {% endif %}
      {% endfor %}
      {% if found_first_match == true %}
      {% if first_related_product == true %} 
      {% assign first_related_product = false %}

          {% endif %}
      {% if product.tags contains first_match or product.tags contains second_match %} 
      {% include 'product-grid-item' with collection.handle %} 
      {% endif %} 
      {% endif %} 
      {% endunless %} 
      {% endfor %} 
      {% if first_related_product == false %}
          {% endif %}
      {% endpaginate %} 

    </div>
  </div>